.favourites-header {
	background: #f7fefa;
	text-align: left;
}

.favourites-header-text {
	font-weight: bold;
	color: #22975e;
	font-size: 25pt;
	margin-left: 1%;
	margin-top: 1%;
}

.favourites-list-row {
	background: #f7fefa;
}

.favourite-items-table {
	margin-top: 0.7rem;
}

.empty-list-alert {
	margin-top: 1%;
	font-size: 15pt;
	color: 	#6E757D !important;
}

.favourite-item-row {
	padding-top: 1.5%;
	padding-bottom: 1.5%;
}

.favourite-title-row {
	margin-left: 1%!important;
}

.star-button {
	background-color: Transparent!important;
    background-repeat:no-repeat!important;
    border: none!important;
    cursor:pointer!important;
    overflow: hidden!important;
    outline:none!important;
    padding: 0px!important;
}

.favourite-item-title {
	font-size: 16pt;
	text-align: left;
	margin-left: 3%;
	margin-bottom: 0px;
}

.favourite-item-instructions {
	font-size: 15pt;
	text-align: left;
}